.home {
  height: 165rem;
  background-image: url('../assets/img/background.png');
  background-size: 100%;
  background-repeat: no-repeat;
}


body:after {
  opacity: 0.8;
}

#login_frame {
  width: 55rem;
  height: 22rem;
  padding: 1.78rem;
  position: absolute;
  left: 49%;
  top: 83%;
  margin-left: -27.5rem;
  margin-top: -27.5rem;
  background-color: rgba(14, 24, 33, 0.8);
  border-radius: 1.37rem;
  text-align: center;
  border:2px solid white;
}

#login_frame p img {
  height: 4.12px;
  margin: 2.75rem;
}

form p > * {
  display: inline-block;
  vertical-align: middle;
}

#image_logo {
  margin-top: 3.02rem;
}

.label_input {
  font-size: 1.92rem;
  font-family: SimSun;
  width: 8.93rem;
  height: 3.85rem;
  line-height: 3.85rem;
  padding-left: 1.37rem;
  text-align: center;
  color: white;
  background: rgba(20, 108, 94, 0.9);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.text_field {
  width: 38.22rem;
  height: 3.85rem;
  padding-left: 1.37rem !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0;
}

#btn_login {
  font-size: 1.92rem;
  font-family: SimSun;
  width: 16.5rem;
  height: 3.85rem;
  line-height: 3.85rem;
  text-align: center;
  margin-left: 33%;
  color: white;
  background: rgba(20, 108, 94, 0.9);
  border-radius: 6px;
  border: 0;

  float: left;
}

#forget_pwd {
  font-size: 1.65rem;
  color: white;
  text-decoration: none;
  position: relative;
  float: right;
  top: 0.68rem;

}

#forget_pwd:hover {
  color: blue;
  text-decoration: underline;
}

#login_control {
  padding: 0 3.85rem;
  font-size: 2.75rem;
}

.home {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}